**/*.Rcheck/
**/*.Rd
**/*.Rproj
**/*.egg
**/*.egg-info/
**/*.o
**/*.so
**/*.swo
**/*.swp
**/.Rhistory
**/.Rproj.user
**/.gitignore
**/.idea/
**/RcppExports.R
**/RcppExports.cpp
**/__pycache__/
.dockerignore
.git
.gitlab-ci.yml
Dockerfile*
check_docker_build_context.sh
docs/_build
docs/_generated
publish.sh
testdata/
workflow/build
workflow/dist
wsim.agriculture/docs
wsim.distributions/docs
wsim.electricity/docs
wsim.io/docs
wsim.lsm/docs
